In [68]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Cas pratique n°1

In [69]:
site = "https://www.basketball-reference.com/leagues/NBA_2022_per_game.html"

response = requests.get(site)
soup = BeautifulSoup(response.content, 'html.parser')

In [70]:
players = []
excluded_class = 'thead'

# Recupération des données 
for row in soup.find('tbody').find_all('tr')[1:-1]:
    if excluded_class not in row.get('class', []):
        player = []
        player.append(row.find('th').text)
        for j in row.find_all('td'):
            player.append(j.text)
        players.append(player)

In [71]:
# Recupération des colonnes
colonnes = [i.text for i in soup.find_all('tr')[0].find_all('th')]

In [72]:
# Création du DataFrame
df = pd.DataFrame(players, columns=colonnes)
df.drop(columns=['Awards'], inplace=True)
df.head()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2,LeBron James,37,LAL,C,56,56,37.2,11.4,21.8,...,.756,1.1,7.1,8.2,6.2,1.3,1.1,3.5,2.2,30.3
1,3,Giannis Antetokounmpo,27,MIL,PF,67,67,32.9,10.3,18.6,...,.722,2.0,9.6,11.6,5.8,1.1,1.4,3.3,3.2,29.9
2,4,Kevin Durant,33,BRK,PF,55,55,37.2,10.5,20.3,...,.910,0.5,6.9,7.4,6.4,0.9,0.9,3.5,2.1,29.9
3,5,Luka Dončić,22,DAL,PG,65,65,35.4,9.9,21.6,...,.744,0.9,8.3,9.1,8.7,1.2,0.6,4.5,2.2,28.4
4,6,Trae Young,23,ATL,PG,76,76,34.9,9.4,20.3,...,.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4

In [73]:
df.to_csv('data/cas_1/result_partie_1.csv', index=False)

## Cas pratique n°2

In [74]:
site = "https://content.codecademy.com/courses/beautifulsoup/cacao/index.html"

response = requests.get(site)
soup = BeautifulSoup(response.content, 'html.parser')

In [75]:
rows = []

for row in soup.find('table', id='cacaoTable').find_all('tr')[1:]:
    # Recupération des données
    rating = row.find('td', class_='Rating').text
    percent = row.find('td', class_='CocoaPercent').text

    row_data = [rating, percent]
    rows.append(row_data)

In [76]:
# Recupération des colonnes
rating = soup.find('table', id='cacaoTable').find('td', class_='Rating').text
percent = soup.find('table', id='cacaoTable').find('td', class_='CocoaPercent').attrs['class'][0]

colonnes = [rating, percent]

In [77]:
df = pd.DataFrame(rows, columns=colonnes)
df

     Rating CocoaPercent
0      3.75          63%
1      2.75          70%
2         3          70%
3       3.5          70%
4       3.5          70%
...     ...          ...
1790   3.75          70%
1791      3          65%
1792    3.5          65%
1793   3.25          62%
1794      3          65%

[1795 rows x 2 columns]

In [78]:
df.to_csv('data/cas_2/result_partie_2.csv', index=False)

In [79]:
df.to_json('data/cas_2/result_partie_2_index.json', orient='index')
df.to_json('data/cas_2/result_partie_2_value.json', orient='values')
df.to_json('data/cas_2/result_partie_2_record.json', orient='records')

## Cas pratique n°3

In [80]:
site = "https://webscraper.io/test-sites/e-commerce/static/computers/laptops"

In [81]:
def get_laptop(site):
    response = requests.get(site)
    soup = BeautifulSoup(response.content, 'html.parser')

    rows = []

    for i in soup.find('div', class_='container test-site').find('div', class_='col-lg-9').find_all('div', class_='product-wrapper card-body'):
        title = i.find('a', class_='title').attrs['title']
        description = i.find('p', class_='description').text
        price = i.find('h4', class_='price').text[1:]

        row = [title, description, price]
        rows.append(row)
    
    colonnes = ['titre', 'description', 'prix']

    df = pd.DataFrame(rows, columns=colonnes)
    return df

In [82]:
df = get_laptop(site)
df

            titre                                        description     prix
0  Packard 255 G2  15.6", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows...   416.99
1   Aspire E1-510    15.6", Pentium N3520 2.16GHz, 4GB, 500GB, Linux   306.99
2  ThinkPad T540p   15.6", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit  1178.99
3         ProBook    14", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit   739.99
4   ThinkPad X240  12.5", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro...  1311.99
5  Aspire E1-572G  15.6", Core i5-4200U, 8GB, 1TB, Radeon R7 M265...   581.99

In [83]:
site = 'https://webscraper.io/test-sites/e-commerce/static/computers/tablets'

df_tablets = get_laptop(site)
df_tablets

              titre                                        description    prix
0    Lenovo IdeaTab                                 7" screen, Android   69.99
1       Acer Iconia                           7" screen, Android, 16GB   96.99
2     Asus MeMO Pad                            7" screen, Android, 8GB  102.99
3     Amazon Kindle                                    6" screen, wifi  103.99
4  iPad Mini Retina                     Wi-Fi + Cellular, 32GB, Silver  537.99
5    IdeaTab A3500L  Black, 7" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2   88.99

In [84]:
def get_laptop(site):
    response = requests.get(site)
    soup = BeautifulSoup(response.content, 'html.parser')

    rows = []

    for i in soup.find('div', class_='container test-site').find('div', class_='col-lg-9').find_all('div', class_='product-wrapper card-body'):
        title = i.find('a', class_='title').attrs['title']
        description = i.find('p', class_='description').text
        price = i.find('h4', class_='price').text[1:]
        rating = len(i.find('div', class_='ratings').find_all('span', class_='ws-icon ws-icon-star'))
        row = [title, description, price, rating]
        rows.append(row)
    
    colonnes = ['titre', 'description', 'prix', 'note']

    df = pd.DataFrame(rows, columns=colonnes)
    return df

In [99]:
df_response = pd.DataFrame()
for i in range(1,5):
    site = f'https://webscraper.io/test-sites/e-commerce/static/computers/laptops?page={i}'
    df_temp = get_laptop(site)

    # Concat le resultat 
    df_response = pd.concat([df_response, df_temp])

In [100]:
df_response['prix'] = df_response['prix'].astype('float')
df_response['note'] = df_response['note'].astype('int')
df_response

,titre,description,prix,note
0,Packard 255 G2,"15.6"", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows...",416.99,2
1,Aspire E1-510,"15.6"", Pentium N3520 2.16GHz, 4GB, 500GB, Linux",306.99,3
2,ThinkPad T540p,"15.6"", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit",1178.99,1
3,ProBook,"14"", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit",739.99,4
4,ThinkPad X240,"12.5"", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro...",1311.99,3
5,Aspire E1-572G,"15.6"", Core i5-4200U, 8GB, 1TB, Radeon R7 M265...",581.99,1
0,ThinkPad Yoga,"12.5"" Touch, Core i3-4010U, 4GB, 500GB + 16GB ...",1033.99,2
1,Pavilion,"15.6"", Core i5-4200U, 6GB, 750GB, Windows 8.1",609.99,1
2,Inspiron 15,"Moon Silver, 15.6"", Core i7-4510U, 8GB, 1TB, R...",745.99,3
3,Dell XPS 13,"13.3"" Touch, Core i5-4210U, 8GB, 128GB SSD, Wi...",1281.99,3
4,ThinkPad X230,"12.5"", Core i5 2.6GHz, 8GB, 180GB SSD, Win7 Pr...",1244.99,3
5,HP 250 G3,"15.6"", Core i5-4210U, 4GB, 500GB, Windows 8.1",520.99,2
0,ThinkPad Yoga,"12.5"" Touch, Core i5 4200U, 8GB, 500GB + 16GB ...",1223.99,3
1,HP 350 G1,"15.6"", Core i5-4200U, 4GB, 750GB, Radeon HD867...",577.99,2
2,Asus VivoBook Max,Asus VivoBook Max X541NA-GQ041 Black Chocolate...,399.00,1
3,Dell Vostro 15,"Dell Vostro 15 (3568) Black, 15.6"" FHD, Core i...",488.78,4
4,Acer Spin 5,"Acer Spin 5 SP513-51 Black, 13.3"" FHD Touch, C...",564.98,2
5,Acer Aspire A515-51-5654,"Acer Aspire A515-51-5654, Black, 15.6"", FHD, C...",679.00,2
0,Dell Inspiron 15,"Dell Inspiron 15 (5567) Fog Gray, 15.6"" FHD, C...",679.00,2
1,Asus VivoBook S14,"Asus VivoBook S14 (S406UA-BV041T) Starry Grey,...",729.00,1
2,Asus ROG STRIX GL553VD-DM256,"Asus ROG STRIX GL553VD-DM256, 15.6"" FHD, Core ...",799.00,2
3,Acer Nitro 5 AN515-51,"Acer Nitro 5 AN515-51, 15.6"" FHD IPS, Core i5-...",809.00,1
4,Asus ROG STRIX GL553VD-DM256,"Asus ROG STRIX GL553VD-DM256, 15.6"" FHD, Core ...",899.00,1
5,Lenovo ThinkPad L570,"Lenovo ThinkPad L570, 15.6"" FHD, Core i7-7500U...",999.00,3

In [101]:
# 1. Les 3 laptops les mieux notés
df_1 = df_response.nlargest(3, "note") 
df_1

,titre,description,prix,note
3,ProBook,"14"", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit",739.99,4
3,Dell Vostro 15,"Dell Vostro 15 (3568) Black, 15.6"" FHD, Core i...",488.78,4
1,Aspire E1-510,"15.6"", Pentium N3520 2.16GHz, 4GB, 500GB, Linux",306.99,3

In [102]:
# 2. Les 3 laptops les moins bien notés
df_2 = df_response.nsmallest(3, 'note')
df_2

,titre,description,prix,note
2,ThinkPad T540p,"15.6"", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit",1178.99,1
5,Aspire E1-572G,"15.6"", Core i5-4200U, 8GB, 1TB, Radeon R7 M265...",581.99,1
1,Pavilion,"15.6"", Core i5-4200U, 6GB, 750GB, Windows 8.1",609.99,1

In [103]:
# 3. Les 3 laptops les plus chers
df_3 = df_response.nlargest(3, "prix") 
df_3

,titre,description,prix,note
4,ThinkPad X240,"12.5"", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro...",1311.99,3
3,Dell XPS 13,"13.3"" Touch, Core i5-4210U, 8GB, 128GB SSD, Wi...",1281.99,3
4,ThinkPad X230,"12.5"", Core i5 2.6GHz, 8GB, 180GB SSD, Win7 Pr...",1244.99,3

In [104]:
# 3. Les 3 laptops les moins chers
df_4 = df_response.nsmallest(3, "prix") 
df_4

,titre,description,prix,note
1,Aspire E1-510,"15.6"", Pentium N3520 2.16GHz, 4GB, 500GB, Linux",306.99,3
2,Asus VivoBook Max,Asus VivoBook Max X541NA-GQ041 Black Chocolate...,399.00,1
0,Packard 255 G2,"15.6"", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows...",416.99,2

In [105]:
df_response = pd.DataFrame()
for i in range(1,5):
    site = f'https://webscraper.io/test-sites/e-commerce/static/computers/tablets?page={i}'
    df_temp = get_laptop(site)

    # Concat le resultat 
    df_response = pd.concat([df_response, df_temp])

In [106]:
# 1. Les 3 tablettes les mieux notés
df_1 = df_response.nlargest(3, "note") 
df_1

,titre,description,prix,note
2,Asus MeMO Pad,"7"" screen, Android, 8GB",102.99,4
3,Amazon Kindle,"6"" screen, wifi",103.99,4
5,IdeaTab A3500L,"Black, 7"" IPS, Quad-Core 1.2GHz, 8GB, Android 4.2",88.99,4

In [107]:
# 2. Les 3 tablettes les moins bien notés
df_2 = df_response.nsmallest(3, 'note')
df_2

              titre                               description    prix  note
1       Acer Iconia                  7" screen, Android, 16GB   96.99     1
4        MeMO Pad 7  White, 7", Atom 1.2GHz, 8GB, Android 4.4  130.99     1
4  iPad Mini Retina            Wi-Fi + Cellular, 32GB, Silver  537.99     2

In [ ]:
# 3. Les 3 laptops les plus chers
df_3 = df_response.nlargest(3, "prix") 
df_3